.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
  img {
    width: 100%;
  }
  .img3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
